@font-face {
  font-family: "iconfont"; /* Project id 2981517 */
  src: url('//at.alicdn.com/t/font_2981517_e7l14ntb4gb.woff2?t=1638692079875') format('woff2'),
       url('//at.alicdn.com/t/font_2981517_e7l14ntb4gb.woff?t=1638692079875') format('woff'),
       url('//at.alicdn.com/t/font_2981517_e7l14ntb4gb.ttf?t=1638692079875') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e662";
}

.icon-reset:before {
  content: "\e63a";
}

.icon-yonghuxinxi:before {
  content: "\e605";
}

.icon-xitongguanli-:before {
  content: "\e617";
}

.icon-tuichudenglu:before {
  content: "\e60b";
}
